
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.events-BrE {
  padding: 10.8rem 26rem 0rem 26rem;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  .travel-hJn {
    line-height: 1.25;
    color: #2d2d2d;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 125.4rem 2.8rem 0rem;
    font-size: 4.8rem;
    font-weight: 600;
  }
  .filter-CWS {
    flex-shrink: 0;
    margin: 0rem 0.3rem 3.2rem 0rem;
    width: calc(100% - 0.3rem);
    height: 4.8rem;
    display: flex;
    align-items: center;

    .left-89C {
      margin-right: 42.7rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .button-gAi {
        margin-right: 3rem;
        box-sizing: border-box;
        align-items: center;
        border: solid 0.1rem #3b82f6;
        border-radius: 4.8rem;
        flex-shrink: 0;
        padding: 1.2rem 6.1rem 1.2rem 6rem;
        height: 100%;
        display: flex;

        .outline-settings-fine-tuning-tuning-2-QcW {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 2.4rem;
        }
        .auto-group-sbcz-7mp {
          margin: 0.125rem 0;
          line-height: 1.25;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          width: 4.2rem;
          height: calc(100% - 0.25rem);
          font-size: 1.6rem;
          font-weight: 500;
          color: #3b82f6;
          align-items: center;
        }
      }
      .search-bar-y3L {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0.4rem 0.4rem 1.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        border-radius: 4.8rem;

        .find-among-1228-events-tg6 {
          line-height: 1.4500000212;
          color: rgba(34, 34, 34, 0.400000006);
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 28rem 0rem 0rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .button-oHG {
          border-radius: 4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.704rem 1.1rem 3.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #3b82f6;

          .label-8qL {
            flex-shrink: 0;
            margin-right: 0.9042rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.25;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .outline-search-magnifer-faN {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0rem;
            width: 1.7917rem;
            height: 1.7917rem;
            object-fit: contain;
          }
        }
      }
    }
    .alignment-A1L {
      margin: 0.4rem 0;
      height: calc(100% - 0.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icons-tCE {
        vertical-align: top;
        border-radius: 2.4rem;
        flex-shrink: 0;
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
      }
      .icons-1ne {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.4rem;
        flex-shrink: 0;
      }
    }
  }
  .events-Lpv {
    margin-bottom: 17.6rem;
    width: 100%;
    row-gap: 3.2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .section-1-HEN {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 39rem;
      display: flex;
      column-gap: 4rem;

      .widget-RbU {
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;

        .image-container-y7C {
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;

          .image-5-KRx {
            vertical-align: top;
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
          }
        }
        .content-q9Q {
          margin-left: 1.2rem;
          width: 26.65rem;

          .specialization-ymQ {
            white-space: nowrap;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.25;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            margin: 0rem 0rem 2.4rem 13.65rem;
            width: 13rem;
            display: flex;
            align-items: center;
            font-weight: 500;
          }
          .item--fu8 {
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
          }
          .c-9ZQ {
            width: 100%;
            justify-content: center;
            font-size: 1.6rem;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 1.2rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            line-height: 1.25;
            white-space: nowrap;
          }
          .rating-fGr {
            width: calc(100% - 5.15rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.15rem;
            box-sizing: border-box;
            padding-right: 9.5rem;

            .stars-Nwx {
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;

              .rating-gBx {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-Qte {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-kxW {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-top {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
              }
              .rating-e2J {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-PEn {
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
      .widget-6ez {
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;

        .image-container-Syk {
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;

          .image-5-PPC {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-KXk {
          margin-left: 1.2rem;
          width: 26.65rem;

          .specialization-518 {
            width: 13rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            margin: 0rem 0rem 2.4rem 13.65rem;
            justify-content: center;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
          }
          .item--Zgz {
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .c-47x {
            white-space: nowrap;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 1.2rem;
            justify-content: center;
            font-weight: 400;
            color: #818181;
          }
          .rating-yEv {
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.15rem;
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.15rem);

            .stars-Vj4 {
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;

              .rating-cHt {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-kez {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-U5C {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-D2n {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
              }
              .rating-MPt {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
            }
            .item-35-tPp {
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .widget-oFt {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;

        .image-container-M2W {
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;

          .image-5-6Vt {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-S3x {
          margin-left: 1.2rem;
          width: 26.65rem;

          .specialization-ypa {
            align-items: center;
            justify-content: center;
            font-weight: 500;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.4rem 13.65rem;
            width: 13rem;
            display: flex;
            font-size: 1.6rem;
            color: #2d2d2d;
          }
          .item--TUr {
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
          }
          .c-jxA {
            font-weight: 400;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            margin-bottom: 1.2rem;
            width: 100%;
            color: #818181;
          }
          .rating-4Dk {
            align-items: center;
            margin-right: 5.15rem;
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.15rem);
            height: 1.8rem;
            display: flex;

            .stars-PG2 {
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;

              .rating-hnW {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
              .rating-r9c {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-nZ4 {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-XmY {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
              }
              .rating-5HG {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-QqL {
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
      .widget-WtN {
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;

        .image-container-4ez {
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;

          .image-5-DGz {
            vertical-align: top;
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
          }
        }
        .content-LsQ {
          width: 26.65rem;
          margin-left: 1.2rem;

          .specialization-VEW {
            line-height: 1.25;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            margin: 0rem 0rem 2.4rem 13.65rem;
            width: 13rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            justify-content: center;
            font-weight: 500;
            white-space: nowrap;
          }
          .item--Pan {
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .c-sVx {
            font-size: 1.6rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.25;
            color: #818181;
            margin-bottom: 1.2rem;
            white-space: nowrap;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .rating-nN2 {
            width: calc(100% - 5.15rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.15rem;
            box-sizing: border-box;
            padding-right: 9.5rem;

            .stars-7fC {
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;

              .rating-SBg {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-P6v {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-jRg {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
              .rating-t3g {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-2Qn {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-xJS {
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
    }
    .section-2-UXg {
      height: 39rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .widget-RC2 {
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;

        .image-container-yDY {
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;

          .image-5-ucz {
            vertical-align: top;
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
          }
        }
        .content-Ssp {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-CMC {
            width: 12.9rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.25;
            color: #2d2d2d;
            margin: 0rem 0rem 2.4rem 13.65rem;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--tzi {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
          }
          .c-PwU {
            margin-bottom: 1.2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            line-height: 1.25;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rating-7sU {
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;

            .stars-qoU {
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;

              .rating-AKx {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
              .rating-uHY {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-qBC {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-aPg {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-7uQ {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-nEr {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
            }
          }
        }
      }
      .widget-tog {
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;

        .image-container-F8S {
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;

          .image-5-bTC {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-iXp {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-UG6 {
            justify-content: center;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.25;
            color: #2d2d2d;
            margin: 0rem 0rem 2.4rem 13.65rem;
            width: 12.9rem;
            display: flex;
          }
          .item--mW6 {
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
          }
          .c-Tti {
            line-height: 1.25;
            color: #818181;
            font-weight: 400;
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 1.2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            white-space: nowrap;
          }
          .rating-aTY {
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);
            height: 1.8rem;

            .stars-uki {
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;

              .rating-DmQ {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-NPQ {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-VD8 {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-EAi {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
              .rating-AKG {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
            }
            .item-35-6ii {
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
      .widget-cwx {
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;

        .image-container-AyU {
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;

          .image-5-iVC {
            object-fit: cover;
            vertical-align: top;
            width: 31.7488rem;
            height: 22.2rem;
          }
        }
        .content-EyL {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-yg2 {
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.25;
            white-space: nowrap;
            margin: 0rem 0rem 2.4rem 13.65rem;
            width: 12.9rem;
            display: flex;
          }
          .item--Gv2 {
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
          }
          .c-B1Q {
            font-family: Montserrat, 'Source Sans Pro';
            margin-bottom: 1.2rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            line-height: 1.25;
            color: #818181;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .rating-Vnn {
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;

            .stars-qLr {
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;

              .rating-YWA {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
              .rating-gsG {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-dGi {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-MiW {
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-tyL {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
            }
            .item-35-2pe {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
            }
          }
        }
      }
      .widget-kke {
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;

        .image-container-u7k {
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;

          .image-5-3Ur {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-ydQ {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-j6n {
            width: 12.9rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.25;
            white-space: nowrap;
            margin: 0rem 0rem 2.4rem 13.65rem;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .item--RkJ {
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
          }
          .c-Kan {
            width: 100%;
            align-items: center;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
            color: #818181;
            display: flex;
          }
          .rating-Exe {
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;
            padding-right: 9.5rem;

            .stars-BN6 {
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);

              .rating-6V4 {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
              .rating-SJ2 {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-Ajp {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-VXC {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
              }
              .rating-EUn {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
            }
            .item-35-Naz {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
            }
          }
        }
      }
    }
    .section-3-6G6 {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 39rem;
      display: flex;
      column-gap: 4rem;

      .widget-ENJ {
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;

        .image-container-BHY {
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;
          overflow: hidden;
          position: relative;

          .image-5-8Tg {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-4s8 {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-23G {
            color: #2d2d2d;
            margin: 0rem 0rem 2.4rem 13.65rem;
            display: flex;
            justify-content: center;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            width: 12.9rem;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item--XEv {
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
          }
          .c-d34 {
            width: 100%;
            display: flex;
            justify-content: center;
            color: #818181;
            margin-bottom: 1.2rem;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rating-jLz {
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;

            .stars-U3g {
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;

              .rating-zGv {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-Y3Y {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-5ZG {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-DfU {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-kvJ {
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-35-JS2 {
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .widget-RFk {
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;

        .image-container-a8e {
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 21.6rem;

          .image-5-ike {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-FVg {
          width: 26.55rem;
          margin-left: 1.2rem;

          .specialization-anr {
            margin: 0rem 0rem 2.4rem 13.65rem;
            display: flex;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            width: 12.9rem;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
          }
          .item--g5C {
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
          }
          .c-y4J {
            margin-bottom: 1.2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            width: 100%;
            justify-content: center;
            line-height: 1.25;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rating-Han {
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;
            padding-right: 9.5rem;

            .stars-DjL {
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
              flex-shrink: 0;

              .rating-M4r {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
              .rating-hPc {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
              }
              .rating-SMC {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-BJn {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-vXG {
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
              }
            }
            .item-35-sBc {
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
            }
          }
        }
      }
      .widget-npN {
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;
        height: 100%;
        background-color: #fafbff;

        .image-container-9Q2 {
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;

          .image-5-hRY {
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 31.7488rem;
          }
        }
        .content-SP8 {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-akE {
            font-weight: 500;
            line-height: 1.25;
            color: #2d2d2d;
            white-space: nowrap;
            width: 12.9rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            margin: 0rem 0rem 2.4rem 13.65rem;
            justify-content: center;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .item--tF8 {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
          }
          .c-yXU {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
            color: #818181;
            margin-bottom: 1.2rem;
            width: 100%;
            white-space: nowrap;
            line-height: 1.25;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .rating-VEv {
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;

            .stars-d6E {
              align-items: center;
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;

              .rating-YU6 {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-6Ei {
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .rating-ELv {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-xXp {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-hkJ {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-SSz {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
      }
      .widget-Adt {
        height: 100%;
        background-color: #fafbff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.2rem;
        width: 32rem;

        .image-container-7p2 {
          height: 21.6rem;
          overflow: hidden;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          margin-bottom: 2rem;
          width: 100%;

          .image-5-fqY {
            width: 31.7488rem;
            height: 22.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .content-CqU {
          margin-left: 1.2rem;
          width: 26.55rem;

          .specialization-9ki {
            width: 15.2rem;
            align-items: center;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            margin: 0rem 0rem 2.4rem 11.35rem;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
          }
          .item--rQE {
            font-weight: 600;
            line-height: 1.2;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-size: 2rem;
          }
          .c-9PL {
            width: 100%;
            justify-content: center;
            line-height: 1.25;
            color: #818181;
            margin-bottom: 1.2rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rating-fMg {
            height: 1.8rem;
            display: flex;
            align-items: center;
            margin-right: 5.05rem;
            box-sizing: border-box;
            padding-right: 9.5rem;
            width: calc(100% - 5.05rem);

            .stars-bWE {
              flex-shrink: 0;
              margin: 0.1rem 0.4rem 0.1rem 0rem;
              height: calc(100% - 0.2rem);
              display: flex;
              column-gap: 0.4rem;
              align-items: center;

              .rating-7jU {
                flex-shrink: 0;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
              }
              .rating-Fqg {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-zYN {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-8uU {
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
              .rating-t7x {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
            .item-35-EBp {
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .widget-wrv {
      width: 32rem;
      background-color: #fafbff;
      border-radius: 2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.2rem;

      .image-container-6zi {
        background-color: #f7f7f7;
        border-radius: 2.4rem;
        margin-bottom: 2rem;
        width: 100%;
        height: 21.6rem;
        overflow: hidden;
        position: relative;

        .image-5-TKU {
          object-fit: cover;
          vertical-align: top;
          width: 31.7488rem;
          height: 22.2rem;
        }
      }
      .content-nce {
        margin-left: 1.2rem;
        width: 25.65rem;

        .specialization-Xq8 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          margin: 0rem 0rem 2.4rem 11.35rem;
          width: 14.3rem;
          font-weight: 500;
          line-height: 1.25;
          white-space: nowrap;
        }
        .item--d7U {
          font-weight: 600;
          line-height: 1.2;
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
          display: flex;
          font-size: 2rem;
        }
        .c-7YS {
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
          width: 100%;
          align-items: center;
          font-size: 1.6rem;
          line-height: 1.25;
        }
        .rating-pxe {
          margin-right: 4.15rem;
          box-sizing: border-box;
          padding-right: 9.5rem;
          width: calc(100% - 4.15rem);
          height: 1.8rem;
          display: flex;
          align-items: center;

          .stars-y4r {
            column-gap: 0.4rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0.1rem 0.4rem 0.1rem 0rem;
            height: calc(100% - 0.2rem);
            display: flex;

            .rating-F2N {
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 1.6rem;
              height: 1.6rem;
            }
            .rating-yj4 {
              flex-shrink: 0;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
            }
            .rating-ige {
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 1.6rem;
            }
            .rating-GCN {
              height: 1.6rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 1.6rem;
            }
            .rating-oCJ {
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
          }
          .item-35-KwL {
            line-height: 1.25;
            color: #4d4d4d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .footer-SFG {
    width: 100%;
    height: 16.6rem;
    flex-shrink: 0;

    .foter-information-npv {
      width: 100%;
      height: 1.6rem;
      display: flex;
      align-items: center;

      .all-rights-reserved-8tn {
        flex-shrink: 0;
        margin-right: 96.7rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #818181;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .info-es8 {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        column-gap: 3.6rem;
        align-items: center;

        .privacy-policy-bnN {
          font-weight: 400;
          line-height: 1.2999999523;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.2rem;
        }
        .terms-of-use-93C {
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2999999523;
        }
        .support-g38 {
          font-weight: 400;
          line-height: 1.2999999523;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.2rem;
        }
      }
    }
  }
}
