
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.mainpage-ZL2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-grcj-BcJ {
    width: 100%;
    height: 129rem;
    position: relative;
    flex-shrink: 0;

    .hero-block-Ujp {
      background-color: #ffffff;
      box-sizing: border-box;
      width: 192rem;
      height: 112rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 1.6rem 20rem 51.2rem 26rem;
      position: absolute;
      left: 0;
      top: 0;

      .header-Yza {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.2rem 0rem 1rem 2rem;
        border-radius: 9.6rem;
        flex-shrink: 0;
        margin-bottom: 2rem;

        .logo-rVU {
          margin: 1.4rem 84rem 0rem 0rem;
          width: 28.8rem;
          height: 3.6rem;
          flex-shrink: 0;

          .menu-n8E {
            column-gap: 4rem;
            align-items: center;
            backdrop-filter: blur(2rem);
            width: 100%;
            height: 2rem;
            display: flex;

            .hr-bank-Hz6 {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #3b82f6;
            }
            .item--B3t {
              line-height: 1.25;
              color: #2d2d2d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .item--T1Q {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.25;
              color: #2d2d2d;
            }
          }
        }
        .menu-button-YoY {
          margin-bottom: 0.2rem;
          box-sizing: border-box;
          padding-right: 7.1rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-zyqr-UhC {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.2rem 3.2rem 1.2rem 0.125rem;
            height: 100%;
            display: flex;
            align-items: center;

            .outline-search-magnifer-CdC {
              margin-right: 3.325rem;
              width: 2.15rem;
              height: 2.15rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .flags-i5k {
              width: 2.4rem;
              height: 2.4rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .button-dyQ {
            border-radius: 4.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.325rem 2.125rem;
            width: 12.9rem;
            height: 100%;
            background-color: #3b82f6;

            .auto-group-rtgv-BV8 {
              margin-right: 2.675rem;
              box-sizing: border-box;
              padding: 0.075rem 0rem 0.075rem 1.775rem;
              width: 5.975rem;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.25;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .content-kge {
        margin-right: 6rem;
        width: 140rem;
        height: 50rem;
        position: relative;
        overflow: hidden;
        background-color: #f4f7fe;
        border-radius: 4rem;
        flex-shrink: 0;

        .background-4hL {
          vertical-align: top;
          width: 172rem;
          height: 94.2rem;
          position: absolute;
          left: -16rem;
          top: -10.1rem;
          object-fit: contain;
        }
        .heading-MAe {
          display: flex;
          flex-direction: column;
          width: 56rem;
          height: 34rem;
          position: absolute;
          left: 42rem;
          top: 8rem;
          align-items: center;

          .title-dtr {
            margin: 0rem 3.7rem 3.2rem 3.7rem;
            width: calc(100% - 7.4rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .nft-tickets-for-events-travel-jwt {
              margin-bottom: 2.4rem;
              max-width: 48.6rem;
              line-height: 1.25;
              flex-shrink: 0;
              text-align: center;
              font-size: 6.4rem;
              font-weight: 600;
              color: #2d2d2d;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .reinvent-your-live-experiences-with-nft-tickets-SbQ {
              line-height: 1.25;
              color: #2d2d2d;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 41.6rem;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
            }
          }
          .search-bar-9ki {
            background-color: #ffffff;
            border-radius: 4.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            height: 6.4rem;
            align-items: center;
            padding: 0.4rem 0.4rem 0.4rem 2.4rem;
            width: 100%;

            .find-among-1228-events-4cn {
              line-height: 1.4500000212;
              color: rgba(34, 34, 34, 0.400000006);
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.1rem 15.9rem 0rem 0rem;
              font-size: 1.8rem;
              font-weight: 400;
            }
            .button-Afp {
              border-radius: 4.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 4.1rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #3b82f6;

              .vuesax-linear-search-normal-Wjg {
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .find-SNS {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2000000212;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .the-principle-of-operation-Htr {
      left: 26rem;
      top: 76rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 140rem;
      height: 53rem;
      position: absolute;

      .title-QyU {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 48.45rem 3rem 48.45rem;
        width: calc(100% - 96.9rem);
        align-items: center;

        .how-does-it-work-Ls8 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.25;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2rem;
          text-align: center;
          color: #2d2d2d;
        }
        .reinvent-your-live-experiences-with-nft-tickets-1TU {
          max-width: 41.6rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .section-1-XRp {
        width: 100%;
        height: 36rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .title-t1U {
          padding: 3.8rem 5.2rem 3.7rem 4.8rem;
          height: 100%;
          flex-direction: column;
          border-radius: 2.4rem;
          margin-right: 4rem;
          row-gap: 2rem;
          display: flex;
          background-color: #f7f7f7;
          flex-shrink: 0;
          box-sizing: border-box;

          .avatar-zaJ {
            object-fit: contain;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 8rem;
            height: 8rem;
          }
          .upload-event-data-jGz {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.2000000817;
            color: #2d2d2d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .when-minting-nft-tickets-event-organizers-should-provide-event-details-name-date-time-location-ticket-tiers-and-prices-total-quantity-terms-and-benefits-in-the-smart-contract-security-features-for-verification-legal-compliance-contact-information-and-concise-redemption-instructions-4q4 {
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 58rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.4500000212;
            color: #818181;
          }
        }
        .title-Sqc {
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          background-color: #f7f7f7;
          border-radius: 2.4rem;
          padding: 3.8rem 5.3rem 3.7rem 4.8rem;
          row-gap: 2rem;
          display: flex;
          flex-direction: column;

          .avatar-AFp {
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 8rem;
            height: 8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .select-a-design-template-tBp {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.2000000817;
            color: #2d2d2d;
          }
          .design-is-a-tool-to-captivate-and-connect-with-attendees-create-nfts-that-embody-your-events-theme-offering-unique-and-interactive-digital-collectibles-this-approach-not-only-innovates-ticketing-but-also-strengthens-attendee-engagement-merging-your-events-identity-with-the-dynamic-realm-of-digital-art-pbG {
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 57.9rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.4500000212;
            color: #818181;
          }
        }
      }
    }
  }
  .auto-group-r4qc-oCJ {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.6rem 0.3rem 0rem 26rem;

    .testimonials-vGv {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 11.6rem;
      width: 100%;
      align-items: center;
      display: flex;

      .testimonials-sT4 {
        font-weight: 600;
        line-height: 1.25;
        color: #2d2d2d;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.7rem 5.6rem 0rem;
        font-size: 4.8rem;
      }
      .content-npv {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .testimonials--9Qa {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;
          height: 28.8rem;
          display: flex;
          column-gap: 3rem;

          .testimonial-srN {
            flex-direction: column;
            border-radius: 2rem;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            display: flex;
            background-color: #f7f7f7;
            flex-shrink: 0;
            padding: 3.2rem 5.85rem;
            width: 53.3rem;

            .title-DQS {
              margin: 0rem 17.95rem 2.4rem 17.95rem;
              width: calc(100% - 35.9rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .avatar-wrE {
                vertical-align: top;
                border-radius: 5.6rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                width: 5.6rem;
                height: 5.6rem;
                object-fit: contain;
              }
              .item--5Se {
                line-height: 1.25;
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .description-bA6 {
              flex-shrink: 0;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .item--9hQ {
                flex-shrink: 0;
                max-width: 41.6rem;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.25;
                color: #2d2d2d;
                margin-bottom: 2.4rem;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .stars-AMc {
                width: calc(100% - 26.4rem);
                display: flex;
                column-gap: 0.8rem;
                align-items: center;
                flex-shrink: 0;
                margin: 0 13.2rem;

                .bold-like-star-smp {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
                .bold-like-star-ypr {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
                .bold-like-star-hF4 {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
                .bold-like-star-d8i {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
                .bold-like-star-MaW {
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
          .testimonial-rXG {
            background-color: #f7f7f7;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 53.2rem;
            align-items: center;
            display: flex;
            padding: 3.2rem 5.8rem;
            height: 100%;
            flex-direction: column;
            border-radius: 2rem;

            .title-nvi {
              margin: 0rem 17.95rem 2.4rem 17.95rem;
              width: calc(100% - 35.9rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .avatar-Kve {
                width: 5.6rem;
                height: 5.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 5.6rem;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
              }
              .item--T1G {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.25;
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
            .description-km4 {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item--WkE {
                font-weight: 400;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                max-width: 41.6rem;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.25;
                color: #2d2d2d;
              }
              .stars-XvE {
                margin: 0 13.2rem;
                width: calc(100% - 26.4rem);
                display: flex;
                column-gap: 0.8rem;
                align-items: center;
                flex-shrink: 0;

                .bold-like-star-rxW {
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                }
                .bold-like-star-QDL {
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .bold-like-star-Lcn {
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                }
                .bold-like-star-s6v {
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .bold-like-star-oWN {
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                }
              }
            }
          }
          .testimonial-Jxv {
            display: flex;
            flex-direction: column;
            background-color: #f7f7f7;
            height: 100%;
            padding: 3.2rem 5.8rem;
            width: 53.2rem;
            align-items: center;
            border-radius: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .title-qxr {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 17.95rem 2.4rem 17.95rem;
              width: calc(100% - 35.9rem);

              .avatar-PDg {
                margin-bottom: 1.6rem;
                width: 5.6rem;
                height: 5.6rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 5.6rem;
                flex-shrink: 0;
              }
              .item--WZC {
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.25;
              }
            }
            .description-2nS {
              flex-shrink: 0;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .item--mzv {
                max-width: 41.6rem;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.25;
                font-family: Montserrat, 'Source Sans Pro';
                margin-bottom: 2.4rem;
                font-weight: 400;
                color: #2d2d2d;
                flex-shrink: 0;
              }
              .stars-NUv {
                margin: 0 13.2rem;
                width: calc(100% - 26.4rem);
                display: flex;
                column-gap: 0.8rem;
                align-items: center;
                flex-shrink: 0;

                .bold-like-star-ty4 {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                }
                .bold-like-star-SDt {
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                }
                .bold-like-star-aaz {
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                }
                .bold-like-star-KYa {
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 0.5rem;
                }
                .bold-like-star-Fx2 {
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .slider-line-m9g {
          width: 140rem;
          background-color: #ebf2fe;
          border-radius: 0.2rem;
          flex-shrink: 0;

          .line-WNA {
            width: 20rem;
            height: 0.4rem;
            background-color: #3b82f6;
            border-radius: 0.2rem;
          }
        }
      }
    }
    .contact-1pi {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 37.7rem 24.6rem 12rem;
      width: calc(100% - 49.7rem);
      height: 40rem;

      .left-info-wTU {
        margin-right: 38.3rem;
        width: 33.7rem;
        height: 100%;
        flex-shrink: 0;

        .header-t7p {
          margin-bottom: 10.8rem;
          width: 22.1rem;

          .title-2jp {
            margin-bottom: 2.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .contacts-PKU {
              font-weight: 600;
              line-height: 1.25;
              color: #2d2d2d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 4.8rem;
            }
            .request-demo-isY {
              color: #818181;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.4rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
            }
          }
          .location-T4S {
            line-height: 1.25;
            color: #4d4d4d;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .bottom-zaA {
          width: 100%;
          display: flex;
          flex-direction: column;

          .contact-us-ZNN {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 4.8rem;
            display: flex;

            .astanaitedukz-iWA {
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-7701951-87-06-qqg {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .social-ZWn {
            width: 100%;
            display: flex;
            column-gap: 3.2rem;
            align-items: center;
            flex-shrink: 0;

            .facebook-hst {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #818181;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .twitter-eo8 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #818181;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .instagram-CZk {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #818181;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .linkedin-wGS {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #818181;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .form-UnA {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 44rem;
        height: 100%;
        align-items: center;

        .inputs-34a {
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 100%;
          row-gap: 0.3rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .input-yiv {
            width: 100%;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .labels-LJa {
              margin-left: 0.8rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              color: #2d2d2d;
              white-space: nowrap;
              width: 32.7rem;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .search-bar-eaA {
              width: 100%;
              height: 4.8rem;
              align-items: center;
              box-sizing: border-box;
              padding: 1.4rem 2.125rem 1rem 2rem;
              display: flex;
              background-color: #f7f7f7;
              border-radius: 4.8rem;
              flex-shrink: 0;

              .icon-text-men {
                margin-right: 22.025rem;
                font-size: 1.6rem;
                font-weight: 400;
                white-space: nowrap;
                height: 100%;
                line-height: 1.25;
                color: #a1a1a1;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .outline-security-eye-Fpr {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                width: 2.15rem;
                height: 1.75rem;
                object-fit: contain;
              }
            }
            .helper-text-Mcz {
              color: #a1a1a1;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.8rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2000000477;
            }
          }
          .input-5Yz {
            width: 100%;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .labels-pmU {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.25;
              white-space: nowrap;
              flex-shrink: 0;
              width: 32.7rem;
              color: #2d2d2d;
              font-family: Montserrat, 'Source Sans Pro';
              margin-left: 0.8rem;
            }
            .search-bar-w5Q {
              box-sizing: border-box;
              padding: 1.4rem 2rem 1rem 2rem;
              width: 100%;
              height: 4.8rem;
              background-color: #f7f7f7;
              border-radius: 4.8rem;
              flex-shrink: 0;

              .icon-text-TpS {
                font-size: 1.6rem;
                font-weight: 400;
                font-family: Montserrat, 'Source Sans Pro';
                line-height: 1.25;
                color: #818181;
                white-space: nowrap;
                margin-right: 22.1rem;
                width: 17.9rem;
                height: 100%;
              }
            }
            .helper-text-9xA {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2000000477;
              color: #a1a1a1;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.8rem;
            }
          }
          .auto-group-crzv-HHg {
            width: 100%;
            height: 12.8rem;
            flex-shrink: 0;

            .input-dcS {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .labels-PLi {
                margin: 0rem 0rem 0.6rem 0.8rem;
                line-height: 1.25;
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                width: 32.7rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .search-bar-4Bx {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #f7f7f7;
                border-radius: 2.4rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.2rem 0.8rem 3.5rem 0.8rem;

                .auto-group-p1tl-C3G {
                  margin: 0rem 0rem 1.8rem 1.2rem;
                  width: 30.175rem;
                  height: 2.4rem;
                  flex-shrink: 0;

                  .icon-text-Jrz {
                    line-height: 1.25;
                    color: #a1a1a1;
                    font-family: Montserrat, 'Source Sans Pro';
                    font-size: 1.6rem;
                    font-weight: 400;
                    height: 100%;
                    white-space: nowrap;
                    margin-right: 22.075rem;
                    width: 8.1rem;
                  }
                }
                .helper-text-RRp {
                  font-weight: 400;
                  line-height: 1.2000000477;
                  color: #a1a1a1;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
        .button-jhQ {
          display: flex;
          border-radius: 4.8rem;
          width: 100%;
          white-space: nowrap;
          justify-content: center;
          height: 4.8rem;
          background-color: #3b82f6;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
        }
      }
    }
    .footer-DsU {
      width: 140rem;
      height: 16.6rem;
      flex-shrink: 0;
      margin-right: 25.7rem;

      .foter-information-ZgS {
        width: 100%;
        height: 1.6rem;
        display: flex;
        align-items: center;

        .all-rights-reserved-7T4 {
          flex-shrink: 0;
          margin-right: 96.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2999999523;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .info-dAW {
          height: 100%;
          display: flex;
          column-gap: 3.6rem;
          align-items: center;
          flex-shrink: 0;

          .privacy-policy-aLe {
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .terms-of-use-KJE {
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .support-TvE {
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
          }
        }
      }
    }
  }
}
