
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ticket-aoY {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .header-KWE {
    border-radius: 9.6rem;
    flex-shrink: 0;
    margin: 0rem 21.3rem 1.6rem 24.7rem;
    padding: 1.2rem 0rem 1rem 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 46rem);
    background-color: #ffffff;

    .logo-cVL {
      margin: 1.4rem 84rem 0rem 0rem;
      width: 28.8rem;
      height: 3.6rem;
      flex-shrink: 0;

      .menu-YNz {
        column-gap: 4rem;
        align-items: center;
        backdrop-filter: blur(2rem);
        width: 100%;
        height: 2rem;
        display: flex;

        .hr-bank-5ti {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.25;
          color: #3b82f6;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .item--zVt {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--VxS {
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
    .menu-button-d34 {
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      box-sizing: border-box;
      padding-right: 7.1rem;
      height: 4.8rem;
      display: flex;
      align-items: center;

      .auto-group-yfrv-kdU {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 3.2rem 1.2rem 0.125rem;
        height: 100%;
        display: flex;
        align-items: center;

        .outline-search-magnifer-HNW {
          height: 2.15rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.325rem;
          width: 2.15rem;
        }
        .flags-c9t {
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4rem;
        }
      }
      .button-k1C {
        width: 12.9rem;
        height: 100%;
        background-color: #3b82f6;
        border-radius: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.325rem 2.125rem;

        .auto-group-npy2-Hmp {
          height: 100%;
          font-weight: 500;
          line-height: 1.25;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.675rem;
          padding: 0.075rem 0rem 0.075rem 1.775rem;
          width: 5.975rem;
          font-size: 1.6rem;
          color: #ffffff;
          box-sizing: border-box;
        }
      }
    }
  }
  .container-uYJ {
    position: relative;
    overflow: hidden;
    background-color: #fafbff;
    flex-shrink: 0;
    width: 100%;
    height: 58rem;

    .blured-Fs4 {
      box-sizing: border-box;
      backdrop-filter: blur(0.75rem);
      background-color: rgba(255, 255, 255, 0.1000000015);
      top: 0;
      padding: 49.2rem 26rem 2.4rem 159.6rem;
      width: 192rem;
      height: 58rem;
      position: absolute;
      left: 0;

      .qr-BEv {
        height: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 5.6rem;
        width: 6.4rem;
      }
    }
    .image-7-GGN {
      top: -8.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 150rem;
      height: 93.8rem;
      position: absolute;
      left: 21rem;
    }
  }
  .auto-group-8cbg-nEi {
    box-sizing: border-box;
    padding: 4.8rem 0rem 0rem 26rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-d5ls-VQ2 {
      height: 55.2rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 48.5rem;
      width: 473.3rem;

      .general-info-czS {
        top: 3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 473.3rem;
        height: 52rem;
        position: absolute;
        left: 0;

        .auto-group-i2ut-xHc {
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .heading-JMU {
            margin-bottom: 2.4rem;
            width: 89rem;
            flex-shrink: 0;

            .title-rNz {
              margin-bottom: 1.6rem;
              width: 100%;
              display: flex;
              align-items: center;

              .gala-concert-QvJ {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 63.7rem 0rem 0rem;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .save-8bQ {
                object-fit: contain;
                vertical-align: top;
                border-radius: 5.6rem;
                flex-shrink: 0;
                width: 4.4rem;
                height: 4.4rem;
              }
            }
            .information-4jx {
              width: 29.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .name-PnE {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .place--MDG {
                  margin-right: 11.8rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  color: #818181;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  line-height: 1.25;
                  flex-shrink: 0;
                }
                .national-theatre-Gb8 {
                  font-size: 1.6rem;
                  line-height: 1.25;
                  color: #2d2d2d;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  flex-shrink: 0;
                  align-items: center;
                  font-weight: 500;
                }
              }
              .auto-group-y6px-Pve {
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.6rem 0rem 3.6rem 0rem;
                width: 100%;
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;

                .specialization-ixv {
                  margin-right: 10.7rem;
                  width: calc(100% - 10.7rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .price--sL2 {
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.25;
                    color: #818181;
                    margin-right: 12.2rem;
                    flex-shrink: 0;
                  }
                  .item-15-zfY {
                    display: flex;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.25;
                    color: #2d2d2d;
                  }
                }
                .level-KC2 {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 7.5rem;
                  width: calc(100% - 7.5rem);
                  display: flex;

                  .duration--GNA {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.25;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-right: 9.1rem;
                    color: #818181;
                    white-space: nowrap;
                    display: flex;
                  }
                  .h-30m-o7C {
                    display: flex;
                    justify-content: center;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #2d2d2d;
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    line-height: 1.25;
                    font-family: Montserrat, 'Source Sans Pro';
                  }
                }
                .date-8QN {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 4.6rem;
                  width: calc(100% - 4.6rem);
                  display: flex;

                  .date--t8e {
                    display: flex;
                    line-height: 1.25;
                    color: #818181;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 12.4rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                  }
                  .item-02022024-2Er {
                    line-height: 1.25;
                    color: #2d2d2d;
                    font-family: Montserrat, 'Source Sans Pro';
                    font-size: 1.6rem;
                    font-weight: 500;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
          }
          .divider-Kze {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 89rem;
            height: 0;
          }
        }
        .auto-group-eyjp-smG {
          color: #4d4d4d;
          height: 24.8rem;
          font-size: 2.4rem;
          line-height: 1.25;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .left-info-PUi {
        width: 59.8rem;
        height: 38.8rem;
        position: absolute;
        left: 96rem;
        top: 0;

        .check-X58 {
          height: 15.2rem;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 3rem;
          margin-bottom: 2.4rem;
          width: 100%;

          .caption-TzN {
            width: 56.8rem;
            height: 6.3rem;
            position: absolute;
            left: 3rem;
            top: 3rem;

            .title-Q8v {
              box-sizing: border-box;
              padding-right: 0.2rem;
              width: 18.7rem;
              height: 2.4rem;
              display: flex;
              align-items: center;

              .title-XjL {
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.2;
                text-align: right;
                font-size: 2rem;
                font-weight: 600;
                color: #4d4d4d;
                font-family: Montserrat, 'Source Sans Pro';
                margin-right: 1rem;
              }
              .bold-money-verified-check-Tst {
                width: 2rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .button-nvA {
            line-height: 1.25;
            color: #2f69c7;
            font-family: Montserrat, 'Source Sans Pro';
            position: absolute;
            font-size: 1.6rem;
            top: 7.4rem;
            white-space: nowrap;
            left: 3rem;
            display: flex;
            justify-content: center;
            width: 38rem;
            height: 4.8rem;
            background-color: #ebf2fe;
            border-radius: 4.8rem;
            font-weight: 500;
            align-items: center;
          }
        }
        .check-eSa {
          box-sizing: border-box;
          padding: 3rem;
          width: 44rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f7f7f7;
          border-radius: 3rem;

          .caption-bMp {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;
            display: flex;

            .title-kEi {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .icon-5Xt {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icons-1wL {
                margin-right: 6.2667rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
              .icons-wa6 {
                border-radius: 2.4rem;
                flex-shrink: 0;
                margin-right: 6.2666rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .icons-sTk {
                border-radius: 2.4rem;
                flex-shrink: 0;
                margin-right: 6.2667rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .icons-cAS {
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .button-9AN {
            line-height: 1.25;
            white-space: nowrap;
            background-color: #ebf2fe;
            border-radius: 4.8rem;
            flex-shrink: 0;
            font-weight: 500;
            height: 4.8rem;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: #2f69c7;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 1.6rem;
          }
        }
      }
      .join-us-for-an-enchanting-evening-at-our-gala-concert-a-night-where-music-elegance-and-culture-converge-set-in-a-stunning-venue-this-event-promises-an-unforgettable-experience-with-a-lineup-of-world-class-musicians-and-vocalists-the-repertoire-will-be-a-rich-blend-of-classical-masterpieces-and-contemporary-favorites-designed-to-captivate-both-classical-aficionados-and-new-listeners-alike-the-evening-will-also-feature-exclusive-performances-making-it-a-unique-musical-celebration-dress-in-your-finest-attire-and-be-part-of-an-audience-that-appreciates-the-finer-things-in-life-in-addition-to-the-musical-extravaganza-enjoy-gourmet-refreshments-and-the-opportunity-to-mingle-with-fellow-music-enthusiasts-in-an-elegant-setting-this-gala-concert-is-not-just-a-performance-its-a-celebration-of-musics-power-to-bring-people-together-creating-memories-that-will-last-a-lifetime-dont-miss-this-opportunity-to-be-part-of-a-spectacular-musical-journey-1iN {
        width: 83.8rem;
        left: 0;
        top: 35.2rem;
        font-size: 1.6rem;
        line-height: 1.25;
        color: #000000;
        height: 20rem;
        position: absolute;
        display: flex;
        font-weight: 400;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .footer-jRQ {
      width: 140rem;
      height: 16.6rem;
      flex-shrink: 0;

      .foter-information-HSv {
        width: 100%;
        height: 1.6rem;
        display: flex;
        align-items: center;

        .all-rights-reserved-Ed4 {
          flex-shrink: 0;
          margin-right: 96.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2999999523;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .info-Mhg {
          height: 100%;
          display: flex;
          column-gap: 3.6rem;
          align-items: center;
          flex-shrink: 0;

          .privacy-policy-WKg {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .terms-of-use-F2N {
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .support-P8a {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
