
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ticket-m8a {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-JeJ {
    display: flex;
    align-items: center;
    border-radius: 9.6rem;
    flex-shrink: 0;
    margin: 0rem 21.3rem 2rem 24.7rem;
    width: calc(100% - 46rem);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.2rem 0rem 1rem 2rem;

    .logo-QhL {
      margin: 1.4rem 84rem 0rem 0rem;
      width: 28.8rem;
      height: 3.6rem;
      flex-shrink: 0;

      .menu-whG {
        align-items: center;
        backdrop-filter: blur(2rem);
        width: 100%;
        height: 2rem;
        display: flex;
        column-gap: 4rem;

        .hr-bank-VTt {
          color: #3b82f6;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .item--pm4 {
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .item--92e {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #2d2d2d;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
    }
    .menu-button-G7G {
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      box-sizing: border-box;
      padding-right: 7.1rem;
      height: 4.8rem;
      display: flex;
      align-items: center;

      .auto-group-7yya-Bzv {
        box-sizing: border-box;
        padding: 1.2rem 3.2rem 1.2rem 0.125rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .outline-search-magnifer-KbL {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.325rem;
          width: 2.15rem;
          height: 2.15rem;
        }
        .flags-3XL {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .button-bHx {
        width: 12.9rem;
        height: 100%;
        background-color: #3b82f6;
        border-radius: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.325rem 2.125rem;

        .auto-group-dvwv-94a {
          line-height: 1.25;
          color: #ffffff;
          white-space: nowrap;
          padding: 0.075rem 0rem 0.075rem 1.775rem;
          width: 5.975rem;
          font-weight: 500;
          font-size: 1.6rem;
          font-family: Montserrat, 'Source Sans Pro';
          margin-right: 2.675rem;
          box-sizing: border-box;
          height: 100%;
        }
      }
    }
  }
  .container-YsQ {
    height: 58rem;
    position: relative;
    overflow: hidden;
    background-color: #fafbff;
    flex-shrink: 0;
    width: 100%;

    .diploma-Jbg {
      width: 58.6rem;
      height: 38rem;
      position: absolute;
      left: 66.7rem;
      top: 10rem;
      overflow: hidden;
      border-radius: 2.4rem;

      .image-5-33U {
        background-image: url('REPLACE_IMAGE:16614e0e9d7cbb5aa886066ecc6ab88b4d4902f8');
        width: 58.6rem;
        height: 38rem;
        position: relative;
        background-size: 102.395% 103.322%;
        background-position: -0.9182rem -1.053rem;
      }
    }
    .blured-XDY {
      width: 192rem;
      height: 58rem;
      position: absolute;
      backdrop-filter: blur(0.75rem);
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1000000015);
      box-sizing: border-box;
      padding: 2.4rem 26rem 2.4rem 52.5rem;
      left: 0;
      top: 0;

      .image-5-RZp {
        vertical-align: top;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 1.1rem 20.1rem 0rem 0rem;
        width: 87rem;
        height: 43.5rem;
        object-fit: cover;
      }
      .auto-group-11cs-w2N {
        box-sizing: border-box;
        padding-top: 46.8rem;
        height: 100%;
        flex-shrink: 0;

        .qr-tCW {
          width: 6.4rem;
          height: 6.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 5.6rem;
        }
      }
    }
  }
  .auto-group-wcp6-NdU {
    box-sizing: border-box;
    padding: 4.4rem 0rem 0rem 26rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-hrje-JGE {
      margin-bottom: 48.7rem;
      width: 473.3rem;
      height: 55rem;
      position: relative;
      flex-shrink: 0;

      .general-info-3Ui {
        height: 52rem;
        position: absolute;
        left: 0;
        top: 3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 473.3rem;

        .auto-group-8dnw-ytA {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;

          .heading-vHc {
            margin-bottom: 2.4rem;
            width: 89rem;
            flex-shrink: 0;

            .title-g1t {
              margin-bottom: 1.6rem;
              width: 100%;
              display: flex;
              align-items: center;

              .amsterdam-REN {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.1rem 64.1rem 0rem 0rem;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #2d2d2d;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .save-KqY {
                width: 4.4rem;
                height: 4.4rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 5.6rem;
                flex-shrink: 0;
              }
            }
            .information-rqU {
              flex-direction: column;
              width: 34.4rem;
              align-items: center;
              display: flex;

              .name-pGW {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .place--yfC {
                  margin-right: 11.8rem;
                  line-height: 1.25;
                  color: #818181;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  font-family: Montserrat, 'Source Sans Pro';
                }
                .schiphol-airport-ams-hbC {
                  align-items: center;
                  justify-content: center;
                  color: #2d2d2d;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.25;
                  white-space: nowrap;
                }
              }
              .auto-group-jfkj-DpS {
                padding: 1.6rem 0rem 3.6rem 0rem;
                width: 100%;
                row-gap: 1.6rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;

                .specialization-wVY {
                  margin-right: 13.7rem;
                  width: calc(100% - 13.7rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .price--tQn {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #818181;
                    font-family: Montserrat, 'Source Sans Pro';
                    display: flex;
                    line-height: 1.25;
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 12.2rem;
                  }
                  .item-340-cra {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #2d2d2d;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-family: Montserrat, 'Source Sans Pro';
                    align-items: center;
                    line-height: 1.25;
                  }
                }
                .level-w8A {
                  margin-right: 12rem;
                  width: calc(100% - 12rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .duration--gbY {
                    font-size: 1.6rem;
                    line-height: 1.25;
                    font-family: Montserrat, 'Source Sans Pro';
                    margin-right: 9.1rem;
                    display: flex;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-weight: 400;
                    color: #818181;
                  }
                  .h-30m-ck6 {
                    display: flex;
                    justify-content: center;
                    font-weight: 500;
                    color: #2d2d2d;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 1.6rem;
                    line-height: 1.25;
                    white-space: nowrap;
                  }
                }
                .date-kLW {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 9.1rem;
                  width: calc(100% - 9.1rem);
                  display: flex;

                  .date--hFk {
                    margin-right: 12.4rem;
                    display: flex;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.25;
                    color: #818181;
                    white-space: nowrap;
                  }
                  .item-02022024-qMx {
                    display: flex;
                    justify-content: center;
                    font-weight: 500;
                    line-height: 1.25;
                    color: #2d2d2d;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 1.6rem;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          .divider-Z34 {
            width: 89rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-e7gr-uci {
          height: 24.8rem;
          color: #4d4d4d;
          font-family: Montserrat, 'Source Sans Pro';
          width: 100%;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.25;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .left-info-Rb4 {
        width: 59.8rem;
        height: 38.8rem;
        position: absolute;
        left: 96rem;
        top: 0;

        .check-xqt {
          height: 15.2rem;
          position: relative;
          background-color: #f7f7f7;
          border-radius: 3rem;
          margin-bottom: 2.4rem;
          width: 100%;

          .caption-7in {
            width: 56.8rem;
            height: 6.3rem;
            position: absolute;
            left: 3rem;
            top: 3rem;

            .title-eyc {
              box-sizing: border-box;
              padding-right: 0.2rem;
              width: 18.7rem;
              height: 2.4rem;
              display: flex;
              align-items: center;

              .title-CES {
                margin-right: 1rem;
                text-align: right;
                font-size: 2rem;
                font-family: Montserrat, 'Source Sans Pro';
                font-weight: 600;
                line-height: 1.2;
                color: #4d4d4d;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .bold-money-verified-check-886 {
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2rem;
                object-fit: contain;
              }
            }
          }
          .button-FyQ {
            left: 3rem;
            align-items: center;
            top: 7.4rem;
            font-size: 1.6rem;
            line-height: 1.25;
            border-radius: 4.8rem;
            height: 4.8rem;
            position: absolute;
            white-space: nowrap;
            display: flex;
            background-color: #ebf2fe;
            width: 38rem;
            font-family: Montserrat, 'Source Sans Pro';
            justify-content: center;
            font-weight: 500;
            color: #2f69c7;
          }
        }
        .check-KCa {
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f7f7f7;
          border-radius: 3rem;
          box-sizing: border-box;
          padding: 3rem;
          width: 44rem;

          .caption-2sg {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .title-zJi {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2;
              color: #4d4d4d;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .icon-Krn {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .icons-tQ6 {
                margin-right: 6.2666rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
              .icons-pYe {
                flex-shrink: 0;
                margin-right: 6.2668rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
              }
              .icons-xPx {
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
                margin-right: 6.2666rem;
                width: 4.8rem;
              }
              .icons-toQ {
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
                width: 4.8rem;
                height: 4.8rem;
              }
            }
          }
          .button-dFC {
            width: 100%;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.25;
            white-space: nowrap;
            justify-content: center;
            color: #2f69c7;
            display: flex;
            flex-shrink: 0;
            height: 4.8rem;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            background-color: #ebf2fe;
            border-radius: 4.8rem;
          }
        }
      }
    }
    .footer-hkr {
      width: 140rem;
      height: 16.6rem;
      flex-shrink: 0;

      .foter-information-FnN {
        align-items: center;
        width: 100%;
        height: 1.6rem;
        display: flex;

        .all-rights-reserved-CxW {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 96.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2999999523;
          color: #818181;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .info-XUz {
          column-gap: 3.6rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .privacy-policy-5WW {
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .terms-of-use-cmL {
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
          }
          .support-ksY {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            color: #818181;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
          }
        }
      }
    }
  }
}
